<!-- <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #70193B;">
    <a class="navbar-brand" >Twaiji</a>
 
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link"  [routerLink]="['/Customers/GetCustomers']">Customers</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/Invoices/GetInvoices']">Ivnoices <span class="visually-hidden">(current)</span></a>
            </li>

        </ul>
        <div *ngIf="LoggedIn()" class="btn-group" dropdown>
            <a id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                    aria-controls="dropdown-basic">
                    Hello<span style="color: orange;font-weight: 700;">{{Model.UserName}}</span>
        </a>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              
              <li role="menuitem"> <a class="dropdown-item " href="#" (click)="LoggedOut()">
                <i class="fa fa-sign-out"></i> LogOut
            </a></li>
            </ul>
          </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark navbar-survival101">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://lh3.googleusercontent.com/-ZAS0BBE8Sm0/WaFOdATxW9I/AAAAAAAAAf4/8FfuKoWw6n0cvynAv7Fv2sdYESliQEm4wCL0BGAYYCw/h18/2017-08-26.png" alt="L A N T E R N">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"  [routerLink]="['/Customers/GetCustomers']">Customers</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/Invoices/GetInvoices']">Ivnoices <span class="visually-hidden">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline">
          <div class="input-group search-box">
            <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><i class="ion-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
      
  </nav>
  

